<section id="assignmentSummary" class="assignment-summary mb-2"
         aria-labelledby="assignmentSummaryHeading"
         hidden>
  <div class="table-responsive">
    <table id="assignmentSummaryTable" class="table table-sm table-striped align-middle mb-0">
      <thead class="table-light">
        <tr>
          <th scope="col">Scouter</th>
          <th scope="col">BBL / Euro</th>
          <th scope="col">ProA</th>
          <th scope="col">Sonstige</th>
          <th scope="col">Gesamt</th>
        </tr>
      </thead>
      <tbody id="assignmentSummaryBody"></tbody>
    </table>
  </div>
</section>
