<section id="eventView"
         aria-label="Spiele"
         hx-on::load="this.querySelector('.upcoming')?.scrollIntoView({ block: 'start' })"
         hx-get="/list/events"
         hx-trigger="focus from:window"
         hx-target="#content"
         hx-swap="innerHTML">
  {% include "fragments/toast.html" %}
  <div class="table-responsive">
    <table id="eventTable" class="table table-sm table-striped align-middle">
      <thead class="table-light">
        <tr>
          <th id="dateTimeColumn" scope="col">Datum</th>
          <th id="locationLeagueColumn" scope="col">Halle / Liga</th>
          <th id="opponentColumn" scope="col">Gegner</th>
          <th id="scouterColumn" scope="col">Scouter</th>
        </tr>
      </thead>
      <tbody id="viewEventTable">
        {% for event in events %}
          {% set display_datetime = format_datetime(event.datetime) %}
          <tr class="{{ 'past' if event.datetime and event.datetime < current_time else 'upcoming' }}">
            <td class="viewDateTimeTd">{{ display_datetime.date }}{% if display_datetime.time %}<br>{{ display_datetime.time }}{% endif %}</td>
            <td class="viewLocationLeagueTd">
              {% if event.location %}<div>{{ event.location }}</div>{% endif %}
              {% if event.league %}<div>{{ event.league }}</div>{% endif %}
            </td>
            <td class="viewOpponentTd">{{ event.opponent or '' }}</td>
            <td class="viewScouterTd">
              {% for scouter in event.scouters or [] %}
                {{ scouter }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>