<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='list.js') }}"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="container">
      <table id="eventTable">
        <thead>
          <tr>
            <th id="dateTimeColumn">Datum</th>
            <th id="locationColumn">Halle</th>
            <th id="leagueColumn">Liga</th>
            <th id="opponentColumn">Gegner</th>
            <th id="scouterColumn">Scouter</th>
            <th id="deleteButtonColumn" class="editOnly"></th>
          </tr>
        </thead>
        <tbody id="viewEventTable" class="viewOnly">
          <tr class="templateRow" hidden="true">
            <td class="viewDateTimeTd"></td>
            <td class="viewLocationTd"></td>
            <td class="viewLeagueTd"></td>
            <td class="viewOpponentTd"></td>
            <td class="viewScouterTd"></td>
          </tr>
        </tbody>
        <tbody id="editEventTable" class="editOnly">
          <tr class="templateRow" hidden="true">
            <td class="editDateTimeTd"><input type="date"><br><input type="time"></td>
            <td class="editLocationTd"></td>
            <td class="editLeagueTd"></td>
            <td class="editOpponentTd"></td>
            <td class="editScouterTd">
              <select>
                <option value=""></option>
                {% for scouter in names: %}
                <option value="{{scouter}}">{{scouter}}</option>
                {% endfor %}
              </select>
            </td>
            <td class="deleteButtonTd"><button class="deleteButton"></button></td>
          </tr>
        </tbody>
      </table>
      <div id="editDiv">
        <div id="addRowDiv" class="editOnly">
          <button id="addRowButton"></button>
        </div>
  
        <div id="statsTableContainer" class="editOnly">
          <table id="statsTable">
            <thead>
              <tr>
                <th class="statsTableColumn"></th>
                <th class="statsTableColumn">BBL, Euro</th>
                <th class="statsTableColumn">ProB</th>
                <th class="statsTableColumn">Rest</th>
                <th class="statsTableColumn">Gesamt</th>
              </tr>
            </thead>
            <tbody>
              {% for scouter in names: %}
              <tr>
                <td class="nameTd">{{scouter}}</td>
                <td class="cat1Td">0</td>
                <td class="cat2Td">0</td>
                <td class="cat3Td">0</td>
                <td class="sumTd">0</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
  
        <div id="submitDiv" class="editOnly">
          <input id="pwInput" type="password" placeholder="Passwort">
          <button id="submitEvents">Übernehmen</button>
          <span id="submitResponse"></span>      
        </div>
  
        <div id="sliderDiv">
          <label class="switch">
            <input type="checkbox" id="editToggle">
            <span class="slider"></span>
          </label>
          <label for="editToggle">Bearbeiten</label>
          <label class="switch editOnly">
            <input type="checkbox" id="statsToggle">
            <span class="slider"></span>
          </label>
          <label for="statsToggle" class="editOnly">Einsätze</label>
        </div>
      </div>
    </div>
  </body>
</html>