[COMMON]
log_file =
timezone = Europe/Berlin

# web page title
title = Scouting 2024/25

# the port on which the app should listen
port = 8000

# timeout for requests to the schedules API
schedule_request_timeout = 20

# events cache file name
web_cache_file = events.json.cache

# Password for submitting from the webpage
submit_pw =

simulate = False

[GOOGLE_API]
# Google API authentication information (to be passed to google.oauth2 credentials)
oauth_info = 
service_account_info = 

[CALENDAR]
# Google Calendar ID
# dont use calendar id 'primary' with service account authentication
id = primary

[SCHEDULE_LEAGUES]
# key = league name, league ID, teamPermanentId, teamSeasonId
league0 = BBL, 46454, 163079,
league1 = ProB, 46468, 164793,
league2 = Regio, 43999, 151281,
league3 = NBBL Ulm, 43264, 163292,
league4 = NBBL OA, 43264, 311305,
league5 = JBBL Ulm, 43314, 163348,
league6 = JBBL OA, 43314, 310812,
league7 = WNBL, 43288, 311170,
league8 = RBBL2, 43709, 314787,
league9 = RBBL Pokal, 47259, 314787,
league10 = JBBL Ulm, 43322, 163348,
league11 = JBBL OA, 43322, 311305,

[SCHEDULE_ARENAS]
# arena id = Name
106934 = Arena
108144 = Main Court
108145 = Uzin Utz Court
108146 = Allianz Court
1265 = Listhalle
1267 = Kuhberghalle

[EMAILS]
# Name = e@mail.com

[SYNC_JOB]
# interval for updating the calender from the schedule in minutes
interval = 60
