[COMMON]
log_file = scout_sync.log
timezone = Europe/Berlin
port = 8000

title = Scouting 24/25

# events cache file name
web_cache_file = events.json.cache

simulate = False

# timeout for requests to the schedules API
schedule_request_timeout = 20

submit_pw = blüb

[GOOGLE_API]
oauth_info = 
service_account_info =

[CALENDAR]
id = 

[CALDAV]
# CalDAV Calendar
url =
calendar_name =
username =
password =

[SCHEDULE_LEAGUES]
# key = league name, league ID, teamPermanentId, seasonTeamId
league1 = BBL, 55802, 163079,

[SCHEDULE_ARENAS]
106934 = Arena
108144 = Main Court
108145 = Uzin Utz Court
108146 = Allianz Court
1265 = Listhalle
1267 = Kuhberghalle

[EMAILS]
Andreas = andreaslangbein@gmx.net
Ralf = 
Claus = 
Palimpalim =

[SYNC_JOB]
interval = 60