body {
    font-family: Tahoma, sans-serif;
}

#editDiv {
    position: sticky;
    bottom: 0;
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 4px;
    padding: 4px;
}

#submitDiv *, #editDiv label {
    font-size: 3vw;
}

table {
    table-layout: fixed;
    border-spacing: 0px;
    width: 100%;
}

table, table select {
    font-size: 2.2vw;
}

#dateTimeColumn {
    width: 15%
}

#locationColumn {
    width: 15%
}

#leagueColumn {
    width: 12%
}

#scouterColumn {
    width: 15%
}

.statsTableColumn {
    width: 20% 
}

#deleteButtonColumn {
    width: 56px;
}

thead {
    position: sticky;
    top: 0;
    background: whitesmoke;
}

th, td {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .25em;
    padding-right: .5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.editLocationTd[contenteditable=false],
.editLeagueTd[contenteditable=false],
.editOpponentTd[contenteditable=false] {
    color: dimgray;
}

th {
    text-align: left;
    border-bottom: solid;
    border-top: solid;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: white;
}

.past {
    color: dimgray;
}

.editOnly {
    display: none;
}

input, button, select, .switch {
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

button:hover, input:enabled:hover, select:hover {
    background-color: whitesmoke;
}

button {
    border: 4px solid dimgray;
    width: 2em;
    height: 1.5em;
    min-height: 40px;
    text-align: center;
    line-height: 1em;

}

button:disabled {
    display: none;
}

.deleteButton, #addRow {
    color: dimgrey;
    font-size: 25px;
    font-weight: bold;
}

#submitEvents {
    width: 8em;
}

#statsTable {
    margin-top: 2px;
    margin-bottom: 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    border-radius: 3px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: whitesmoke;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

label {
    vertical-align: middle;
}

@media only screen and (min-width: 1280px) {
    #wrapperDiv {
        width: min-content;
    }
    
    table, table select {
        font-size: initial;
        width: initial;
    }

    #submitDiv *, #editDiv label {
        font-size: initial;
    }

    #viewEventTable td, #editEventTable td {
        font-size: initial;
        padding-right: 2em;
    }

    .switch {
        scale: 0.7
    }

    button {
        scale: 0.7
    } 
}