body {
    font-family: Tahoma, sans-serif;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}

table, table select {
    font-size: 2.2vw;
}

#dateTimeColumn {
    width: 15%
}

#locationColumn {
    width: 15%
}

#leagueColumn {
    width: 12%
}

#scouterColumn {
    width: 15%
}

.statsTableColumn {
    width: 20% 
}

#deleteButtonColumn {
    width: 56px;
}

thead {
    position: sticky;
    top: 0;
    background: whitesmoke;
}

th, td {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .25em;
    padding-right: .5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.deleteButtonTd {
    text-align: right;
}

.editLocationTd[contenteditable=false],
.editLeagueTd[contenteditable=false],
.editOpponentTd[contenteditable=false] {
    color: dimgray;
}

th {
    text-align: left;
    border-bottom: solid;
    border-top: solid;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: white;
}

.past {
    color: dimgray;
}

#editDiv {
    position: sticky;
    bottom: 0;
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 4px;
}

#editDiv div {
    margin: .5em;
}

#submitDiv *, #editDiv label {
    font-size: 3vw;
    vertical-align: middle;
}

.editOnly {
    display: none;
}

input, button, select, .switch {
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input:enabled:hover, select:hover {
    background-color: whitesmoke;
}

button {
    border: 4px solid dimgray;
    width: 2em;
    height: 1.5em;
    min-height: 40px;
    text-align: center;
    line-height: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

button:disabled {
    display: none;
}

.deleteButton, #addRowButton {
    color: dimgrey;
    font-size: 25px;
    font-weight: bold;
}

.deleteButton {
    background-image: url(icon_delete.png);  
}

#addRowButton {
    background-image: url(icon_add.png);  
}

#addRowDiv {
    text-align: right;
}

#pwInput, #submitEvents {
    width: 8em;
}

#sliderDiv .switch:not {
    margin-right: 4em
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 16px;
    margin: 8px;
    border-radius: 4px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: -8px;
    bottom: -8px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

input:checked + .slider {
    background-color: whitesmoke;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

#sliderDiv .switch:not(:first-child) {
    margin-left: 2em
}

@media only screen and (min-width: 1280px) {
    #container {
        width: min-content;
    }
    
    table, table select {
        font-size: initial;
        width: initial;
        table-layout: initial;
    }

    #submitDiv *, #editDiv label {
        font-size: initial;
    }

    #viewEventTable td, #editEventTable td:not(:last-child) {
        font-size: initial;
        padding-right: 2em;
    }

    .switch {
        scale: 0.7
    }

    button {
        scale: 0.7
    } 
}